@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Bebas+Neue&family=Berkshire+Swash&family=BhuTuka+Expanded+One&family=Big+Shoulders+Inline+Display:wght@200&family=Bodoni+Moda:ital,opsz@1,6..96&family=Boogaloo&family=Bungee&family=Cagliostro&family=Cinzel+Decorative:wght@400;900&family=Cinzel:wght@400;600;900&family=Coda&family=Contrail+One&family=Damion&family=Dorsa&family=Federant&family=Goldman&family=Inter:wght@100;200;300;400;500;700;800;900&family=Irish+Grover&family=Italianno&family=Jacques+Francois&family=Julius+Sans+One&family=Kameron:wght@400;700&family=Kaushan+Script&family=Keania+One&family=Kings&family=Kosugi&family=Koulen&family=Kranky&family=Krona+One&family=Kumar+One&family=Langar&family=League+Gothic&family=Lexend+Peta:wght@300&family=Lexend+Tera:wght@200;400&family=Linden+Hill&family=Lobster&family=Londrina+Shadow&family=Lora&family=Lustria&family=MedievalSharp&family=Metal&family=Michroma&family=Miltonian&family=Monoton&family=MonteCarlo&family=Montserrat:wght@200&family=Ms+Madi&family=Newsreader:opsz@6..72&family=Notable&family=Noto+Serif+HK:wght@300&family=Nova+Flat&family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Oranienbaum&family=Orbitron:wght@400;500&family=Oswald&family=Oxygen+Mono&family=Oxygen:wght@300&family=PT+Mono&family=Playfair+Display:ital,wght@0,400;1,400;1,900&family=Poly&family=Poppins:wght@200;300;400;900&family=Prosto+One&family=Quattrocento&family=Rationale&family=Roboto:wght@300&family=Rosarivo&family=Sen&family=Signika+Negative:wght@300&family=Silkscreen&family=Space+Mono&family=Syne:wght@800&family=Trochut&family=Unica+One&family=Zen+Dots&display=swap');

.venture-component {
    height: 100vh;
    width: 100%;
    background: #231F20;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Inter', sans-serif;
    .sub-components {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        height: 100%;
        position: absolute;
        // background: orange;
        z-index: 1;

        .textLayers {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            align-items: center;
            justify-content: center;
            display: grid;
            // background-color: aqua;
            grid-template-columns: repeat(6,1fr);
            div {
                align-self: center;
                justify-self: center;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .shift {
            }
            h1 {
                -webkit-text-stroke: 1px #fff; /* width and color */
                color: transparent;
                // background: orange;
                align-self: center;
                justify-self: center;
                display: flex;
                align-items: center;
                justify-content: center;
                --shift-poly:50%;
                clip-path: polygon(0 var(--shift-poly), 100% var(--shift-poly), 100% calc(100% - var(--shift-poly)), 0 calc(100% - var(--shift-poly)));
                // position: absolute;
            }
        }
        .text-layer {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 400px;
            height: 50px;
        }
        h1 {
            letter-spacing: 10px;
            font-weight: 700;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 50px;
            position: absolute;
            color: #fff;
            margin: 0;
            padding: 0;
            height: 100%;
        }
        .l1 {
            span {
                text-align: center;
            }
            .shift {
                --shift-poly:0%;
                position: absolute;
                clip-path: polygon(0 var(--shift-poly), 100% var(--shift-poly), 100% calc(100% - var(--shift-poly)), 0 calc(100% - var(--shift-poly)));
            }
            .overlay {
                margin: 0;
                padding: 0;
                z-index: 2;
                -webkit-text-stroke: 1px #fff; /* width and color */
                color: transparent;
            }
        }
        .l2 {
            --show-text:0%;
            clip-path: polygon(0 0, var(--show-text) 0, var(--show-text) 100%, 0% 100%);
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }
        .l2.show {
            position: relative;
            opacity: 1;
            visibility: visible;
        }
        .l1.show {
            position: relative;
        }
        .boxLayer {
            position: absolute;
            z-index: -1;
        }
    }

}